@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{font-family: "Exo 2", sans-serif;}
.active{text-decoration: underline;
text-decoration-color: #F5DF4E;
text-underline-offset: 10px;
}
 .hero-right img{border-radius: 50%;}
@media screen and (max-width:768px) {
.header{
   align-items: flex-start;
}
.navbar{display: flex;
flex-direction: column;
align-items: flex-end;
}

.nav-items{display: none;
} 
 
nav ul{margin-top: 15px;
margin-right: 60px;
}
.footer{height: 190px;} 
}
@media screen and (min-width:768px) and (max-width:1200px) {
  
.footer{height: 120px;} 
p, a, h5{font-size: 18px;}
h3{font-size: 48px;}
.card-title{font-size: 30px;}
.contact-right-title{
   font-size: 36px;
}
label{font-size: 24px;}
.hero-left [href="#contact"]{font-size: 24px;}
.hero-left .btn-view{width: 270px; font-size: 22px;}
.hire-title{
   font-size: 48px;
}
}
@media screen and (min-width:1200.1px) { 
p, a{font-size: 22px;}
.nav-items a{font-size: 22px;}
h3{font-size: 60px;}
 h5{font-size: 22px;}
 .btn{font-size: 24px;}
.card-title{font-size: 36px;}
 .hero-right img{margin-right: 70px;}
 .hero-left [href="#contact"]{font-size: 30px;}
 .hire-title{
   font-size: 60px;
}

label{font-size: 22px;}
.contact-right-title, .contact-left-title{font-size: 48px;}
 .footer{height: 120px;} 
}
