@import "tailwindcss";

@theme {
 --color-primary:#F5DF4E;
 --color-secondary:#EFF6FF;
 --color-dark:rgba(34, 34, 34, 0.25);
 --color-black:#111418;
}

@layer components {
  .btn {
    @apply text-2xl mt-5 bg-primary text-black 
           block px-2 text-center font-semibold;
  }
  .section-head{
    @apply flex flex-col justify-center items-center
  }
  .section-title{
    @apply text-3xl font-bold pt-5
  }
  .card{
    @apply bg-secondary text-black 
 shadow-sm rounded-xl px-5 py-8
  }
  .card-title{
    @apply text-2xl font-bold
  }
  .card-desc{
    @apply text-lg md:text-2xl pt-4
  }
  .btn-live{
    @apply text-lg md:text-xl px-7 py-2 border-1 border-[#222] font-semibold
    text-[#222] rounded-lg hover:bg-[#0D6EFD] hover:text-white hover:border-0
  }
  .btn-github{
    @apply text-lg md:text-xl px-5 py-2 border-1 border-[#222] 
    text-[#222] rounded-lg hover:bg-[#222] hover:text-white font-semibold
  }
  /*header section*/
  header{
    @apply bg-dark sticky top-0 border-b-2 backdrop-blur-xl border-b-[#333]
  }
  .header{
    @apply w-11/12 mx-auto flex py-3 text-white md:items-center justify-between
  }
  .logo{
    @apply w-15 border-2 border-secondary rounded-full 
  }
  #nav-items{
    @apply flex flex-col md:flex-row gap-6 items-center justify-center
  }
  /*hero section*/
  .hero{
    @apply flex flex-col md:flex-row justify-between w-11/12 mx-auto pt-5
  }
  .hero-left{
    @apply order-2 md:order-1 flex-2 mt-12 md:mt-0
  }
 .name{
  @apply text-3xl md:text-[3.5rem] text-center md:text-start font-semibold
 }
 .hero-title{
  @apply  text-4xl md:text-[4rem] py-4 text-center md:text-start font-bold}
}
.hero-left-bottom{
  @apply flex flex-col md:flex-row gap-6 md:gap-24 items-center pt-14 md:pt-20 text-center
}
.btn-view{
  @apply  bg-secondary text-black text-center w-52 md:w-72 block py-4 md:py-6 font-semibold text-2xl md:text-2xl
}
/*about bottom*/
.about-bottom{
  @apply mt-10 flex flex-col md:flex-row gap-6 md:justify-around
}
/*services cards*/
.services-cards{
  @apply flex flex-col md:flex-row gap-6 md:gap-10 mt-10 md:mt-16
}
/*resume*/
.education{
  @apply font-bold text-3xl md:text-4xl pb-8 md:pb-12
}
.education-title{
  @apply font-semibold text-2xl md:text-2xl
}
.resume-right-side{
  @apply w-full md:flex flex-1 gap-4 pt-16 md:pt-0
}
.experience{
  @apply font-bold text-3xl md:text-4xl pb-8 md:pb-12
}
.experience-title{
  @apply font-semibold text-2xl md:text-2xl
}
/*portfolio*/
.portfolio{
  @apply w-11/12 mx-auto mt-24 md:mt-40
}
.portfolio-cards{
  @apply md:grid grid-cols-3 space-y-8 md:space-y-0 gap-10 mt-10 md:mt-20
}
/*hire*/
.hire-area{
    @apply mt-20 md:mt-30 bg-[url('./images/intro-bg-2.jpg')] 
bg-center bg-cover w-full min-h-screen relative
  }
  .hire{
    @apply bg-[rgba(0,0,0,0.60)] relative top-0
     h-0 w-full min-h-screen
  }
  .hire div{
  @apply flex flex-col justify-center items-center min-h-screen
}
.hire-btn{
  @apply mt-10 bg-primary text-black font-semibold py-4 px-12 rounded-md hover:bg-yellow-500
}
  .hire-title{
    @apply text-3xl text-center px-7 md:text-6xl font-bold
  }
/*faq*/
.faq{
  @apply w-11/12 mx-auto mt-24 md:mt-30 flex flex-col gap-7 md:gap-15 md:flex-row justify-center items-center
}
/*contact section*/
.contact{
  @apply w-11/12 mx-auto mt-20 md:mt-44
}
/*contact section*/
.contact-details{
  @apply pt-5 pb-8 md:pt-20 md:pb-12 px-4 
  flex flex-col md:flex-row gap-20
}
.contact-left-title{
  @apply font-bold text-4xl md:text-4xl text-center md:text-left
}
.contact-left-desc{
  @apply py-6 md:py-10 text-xl md:text-2xl text-center md:text-left
}
.contact-icon{
  @apply flex justify-center md:justify-start pt-6 md:pt-10 gap-6 text-white text-3xl
}
.contact-right-title{
  @apply font-bold text-[29px] md:text-4xl pt-5 md:pt-0
}
.input, textarea{
  @apply w-full mt-2 border-2 border-gray-300 px-4 py-3 rounded-md focus:outline-none focus:ring-2 focus:ring-black
}
[type='submit']{
  @apply bg-black flex items-center gap-3 text-xl font-semibold py-2 px-6 md:py-3 md:px-10 rounded-md hover:bg-gray-800 transition
}
/*footer*/
.footer{
  @apply flex flex-col md:flex-row items-center justify-between text-center px-4
}